node_modules/
**/node_modules/

.env
.env.local
.env.*.local

*.log
npm-debug.log*

postgres_data/

.DS_Store
Thumbs.db


# DOTNET SECTION
GEMINI.md
todo.md
.vscode/
.idea/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
.vs/
.idea/
.user/
*.suo
*.user
*.userosscache
*.sln.doccache
Properties/
*.sln.iml
*.Designer.cs
# DOTNET SECTION END

dist/
build/

__pycache__/
*.pyc
*.pyo